name: Build on Windows

on:
  workflow_dispatch:

jobs:
  build:
    name: Build on Windows
    runs-on: windows-2025

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build Project
        run: msbuild ReplantAPI.sln -c Release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Release
          path: |
            ReplantAPI/bin/Release/net4.7.2-windows/win-x86
